body
{
    color: #ff0000; /* asdasd */
    background-image: url(images/tło.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#name_01
{
    background-color: #ffe900;
    height: 250px;
    width: 400px;
}

#style_html
{
    margin-top: 30px;
    margin: 0px; /* Ten zapis oznacza, że odstęp będzie z każdej strony*/
    margin-bottom: 4px;
    background-color: #b30000;
    background-image: url(images/pixel_noise_color.png);
    background-size: 200px 200px;
    color: #ffe7e7;
    width: 975px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: left;
    padding: 15px;
    border: solid black;
    border-width: 1px;
}

#style_html02
{
    margin-top: 30px;
    margin: 0px;
    background-color: #b30000;
    background-image: url(images/pixel_noise_color.png);
    background-size: 200px 200px;
    color: #ffe7e7;
    width: 280px;
    font-size: 20px;
    text-align: left;
    padding: 15px;
    border: solid black;
    border-width: 1px;
    text-align: center;
}

#logo
{
    color: #b30000;
    font-size: 35px;
    border: solid;
    border-image: url(images/Obramowanie.png);
    border-image-slice: 8 fill;
    border-image-width: 4;
    width: 450px;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: #490000 2px 2px;
}

#menu
{
    color: #ffe7e7;
    width: 1000px;
    margin-bottom: 4px;
    border: solid;
    border-image: url(images/Obramowanie.png);
    border-image-slice: 8 fill;
    border-image-width: 3;
    padding: 5px;
}

#menu02
{
    border: solid;
    border-image: url(images/Obramowanie.png);
    border-image-slice: 8 fill;
    border-image-width: 3;
    padding: 4px;
    color: #810000;
    font-family: sans-serif;
    font-weight: bold;
    width: 300px;
    margin-top: 35px;
}

.przycisk
{
    border: solid;
    border-image: url(images/przycisk.png);
    border-image-slice: 8 fill;
    border-image-width: 3;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    color: #810000;
    text-decoration: none;
    cursor: default;
}

.przycisk:hover
{
    filter: brightness(1.4);
}

.przycisk:active
{
    border: solid;
    border-image: url(images/przycisk_wcisniety.png);
    border-image-slice: 8 fill;
    border-image-width: 3;
}

.przycisk_dis
{
    pointer-events: none;
    filter: grayscale(1);
    border: solid;
    border-image: url(images/przycisk.png);
    border-image-slice: 8 fill;
    border-image-width: 3;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}

.boxshadow
{
    box-shadow: black 0px 0px 30px;
}

.left
{
    clear: both;
    float: left;
}

.right
{
    float: right;
    clear: both;
}

#kontener
{
    width: 1250px;
}

.prof
{
    background-image: url(images/zdj_prof.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    padding-left: 90px;
}

.data_index
{
    font-size: 17px;
}
/* float: left; - Ten zapis dodany do diva powoduje, że on zostaje z lewej strony
zamiast iść na dół jak to się dzieje bez tego zapisu */

/* clear: both; - Powoduje to, że div idzie na dół*/